<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.android.imac.diabon" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Diabon" >

        <activity
            android:name=".login.LoginActivity"
            android:label="@string/app_name" >
        </activity>

        <activity android:name=".NavigationDrawer" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AlimentationActivity"
            android:label="@string/title_activity_alimentation" >
        </activity>

        <activity
            android:name=".CategoryActivity"
            android:label="@string/title_activity_categorie" />

        <activity
            android:name=".CategoryArticleActivity"
            android:label="@string/title_activity_article_categorie" />

        <activity
            android:name=".ConseilsActivity"
            android:label="@string/title_activity_conseils" />

        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help" />




    </application>

</manifest>
